.slider {
  position: relative;
  width: 650px;
  margin: 10px;
  height: 350px;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 10px;

  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .slide {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }
}


.dots-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  z-index: 9999;
  padding: 5px 0;

  .dot {
    background: #222;
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
  }
  .active {
    background: #fff;
  }
}

.progress-container {
  display: block;
  color: #000 !important;
  background-color: #f1f1f1 !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  z-index: 9998;
  padding: 5px 0;
  opacity: 0.8;
}

.progress-container:before,
:after {
  box-sizing: inherit;
}

.progress {
  display: block;
  color: #000 !important;
  background-color: #9e9e9e !important;
  animation: fill 3s linear infinite;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .slider {
    position: relative;
    width: 315px !important;
    margin: 20px 0px !important;
    height: 200px !important;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    float: none !important;
  
    .slider-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
  
      .slide {
        display: inline-block;
        height: 100%;
        width: 100%;
      }
    }
  }

}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .slider {
    position: relative;
    width: 375px !important;
    margin: 20px !important;
    height: 225px !important;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    float: none !important;
  
    .slider-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
  
      .slide {
        display: inline-block;
        height: 100%;
        width: 100%;
      }
    }
  }

}
@media only screen and (min-width: 426px) and (max-width: 767px) {
  .slider {
    position: relative;
    width: 425px !important;
    margin: 10px !important;
    height: 275px !important;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    float: none !important;
  
    .slider-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
  
      .slide {
        display: inline-block;
        height: 100%;
        width: 100%;
      }
    }
  }

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .slider {
    position: relative;
    width: 400px !important;
    margin: 10px !important;
    height: 300px !important;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    float: left !important;
  
    .slider-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
  
      .slide {
        display: inline-block;
        height: 100%;
        width: 100%;
      }
    }
  }

}

